<h2>Resources</h2>

<div class="flex flex-row justify-end mb-4">
  <a
    class="app__btn app__btn-primary max-w-20"
    routerLink="/businesses/resources/create"
  >
    Add
    <app-icon class="ml-0.5" name="plus" />
  </a>
</div>
<div class="overflow-x-auto">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of resources">
        <td>{{ resource.name }}</td>
        <td>{{ resource.description }}</td>
        <td>{{ resource.price | number:'1.2-2'}}</td>
        <td>
          <button class="mr-1"><app-icon name="pencil-square" /></button>
          <button class="text-danger"><app-icon name="trash" /></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>