<nav class="space-y-2">
  <!-- Dashboard -->
  <a routerLink="/dashboard" class="app__sidebar-item">
    <app-icon name="home" />
    <div class="app__sidebar-item__label">Dashboard</div>
  </a>

  <!-- Clients -->
  <a routerLink="/clients" class="app__sidebar-item">
    <app-icon name="user-group" />
    <div class="app__sidebar-item__label">Clients</div>
  </a>

  <!-- Businesses -->
  <div class="app__sidebar-item__group">
    <a routerLink="/businesses" class="app__sidebar-item">
      <app-icon name="buildings" />
      <div class="app__sidebar-item__label">Businesses</div>
    </a>

    <div *ngIf="!!businessId()" class="ml-6 space-y-1">
      <!-- Clients -->
      <a routerLink="/businesses/clients" class="app__sidebar-item">
        <app-icon name="user-group" />
        <div class="app__sidebar-item__label">Clients</div>
      </a>

      <!-- Services -->
      <a routerLink="/businesses/services" class="app__sidebar-item">
        <app-icon name="briefcase" />
        <div class="app__sidebar-item__label">Services</div>
      </a>

      <!-- Resources -->
      <a routerLink="/businesses/resources" class="app__sidebar-item">
        <app-icon name="cube" />
        <div class="app__sidebar-item__label">Resources</div>
      </a>

      <!-- Users -->
      <a routerLink="/businesses/users" class="app__sidebar-item">
        <app-icon name="users" />
        <div class="app__sidebar-item__label">Users</div>
      </a>

      <!-- Roles -->
      <a routerLink="/businesses/roles" class="app__sidebar-item">
        <app-icon name="adjustment" />
        <div class="app__sidebar-item__label">Roles</div>
      </a>

      <!-- Profile -->
      <a routerLink="/businesses/profile" class="app__sidebar-item">
        <app-icon name="building" />
        <div class="app__sidebar-item__label">Profile</div>
      </a>
    </div>
  </div>
</nav>
